.welcome-message{
  color: white;
  background-color: green;
  font-size: 2em;
  font-family: Arial,sans-serif;
  padding: 10px;
  max-width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Position the element relative to the viewport */
  top: 50%; /* Move the element 50% down from the top */
  left: 50%; /* Move the element 50% from the left */
  margin-top: -50px; /* Adjust margin-top to half of element height */
  margin-left: -15%; /* Adjust margin-left to half of element width */
}
.login-prompt {
  color: white;
  background-color: red;
  font-size: 2em;
  padding: 10px;
  font-family: Arial, sans-serif;
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Position the element relative to the viewport */
  top: 50%; /* Move the element 50% down from the top */
  left: 50%; /* Move the element 50% from the left */
  margin-top: -50px; /* Adjust margin-top to half of element height */
  margin-left: -15%; /* Adjust margin-left to half of element width */
}
