.list-category{
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-bottom: 10px;
  border: 3px solid;
  border-radius: 5px;
  background-color: cyan;
}
.list-items li{
  font-size: 1.5em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 10px;

}
.list-items li:hover{
  cursor: pointer;
  color: hsl(0, 0%, 45%);
}