body{
  background-color: black;
}
.to-do-list{
  font-family: Arial,sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
  color: white;
}
button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: rgb(31, 215, 31);
}
.add-button:hover{
  background-color: green;
}
.delete-button{
  background-color: rgba(255, 74, 74, 0.996);
}
.delete-button:hover{
  background-color: red;
}
.move-button{
  background-color: rgba(4, 157, 208, 0.809);
}
.move-button:hover{
  background-color: blue;
}
input[type="text"]{
  font-size: 1.5rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%,0.5);
  border-radius: 10px;
  color: black;
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: white;
  margin-bottom: 10px;
  border: 3px solid rgba(211, 211, 211, 0.866);
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}
.delete-button,.move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}